<% if current_user && admin_user %>
<%= form_for(@plushki) do |f| %>
  <% if @plushki.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plushki.errors.count, "error") %> prohibited this plushki from being saved:</h2>

      <ul>
      <% @plushki.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.collection_select :user_id, User.all, :id, :email %>
  </div>
  <div class="field">
    <%= f.label :sum %><br />
    <%= f.number_field :sum %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </div>
  <div>
    <%= f.submit "Тыц", :class => "btn primary" %>
  </div>
<% end %>
<% end %>