<h1>Listing rewards</h1>

<table>
  <tr>
    <th>User</th>
    <th>Prize</th>
    <th>Text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rewards.each do |reward| %>
  <tr>
    <td><%= reward.user.email %></td>
    <td><%= reward.prize.title %></td>
    <td><%= reward.text %></td>
    <td><%= link_to 'Show', reward %></td>
    <% if current_user && admin_user %>
    <td><%= link_to 'Edit', edit_reward_path(reward) %></td>
    <td><%= link_to 'Destroy', reward, confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% if current_user && admin_user %>
<%= link_to 'New Reward', new_reward_path %>
<% end %>