<h1>Редактирование информации</h1>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :Игровой_ник %><br />
    <%= f.text_field :email, :class => "title" %>
  </p>
  <p>*соблюдаем регистр букв (большие и маленькие)</p>
  <p>
    <%= f.label :Пароль %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :Подтверждение_пароля %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p>*не стоит указывать пороль игры</p>
  <p>
    <%= f.label :Реальное_имя %><br />
    <%= f.text_field :name %>
  </p>
  <table>
  	<tr>  		
	  <td>
	  <p>
	    <%= f.label :Город %><br />
	    <%= f.collection_select :city_id, City.all, :id, :name %>
	  </p>
	  </td>
	  <td>
	  <p>
	    <%= f.label :Тип_персонажа %><br />
	    <%= f.collection_select :character_id, Character.all, :id, :name %>
	  </p>
	  </td>
	  <td>
	  <p>
	    <%= f.label :Профессия %><br />
	    <%= f.collection_select :profession_id, Profession.all, :id, :name %>
	  </p>
	  </td>
	  <td>
	  <p>
	    <%= f.label :Призвание %><br />
	    <%= f.collection_select :mission_id, Mission.all, :id, :name %>
	  </p>
	  </td>
	</tr>

  	<tr>  		
	  <td>
	  <p>
	    <%= f.label :Уровень %><br />
	    <%= f.number_field :level %>
	  </p>
	  </td>
	  <td>
	  <p>
	    <%= f.label :Максимально_HP %><br />
	    <%= f.number_field :maxhealth %>
	  </p>
	  </td>
	  <td>
	  <p>
	    <%= f.label :Уровень_профессии %><br />
	    <%= f.number_field :craft %>
	  </p>
	  </td>
	  <td>
	  <p>
	    <%= f.label :Есть_ли_ружжо_золотое? %><br />
	    <%= f.check_box :zr %>
	  </p>
	  </td>
	</tr>
  </table>
    <p>
    <%= f.label :Немного_о_себе %><br />
    <%= f.text_area :about, :size => "20x20" %>
  </p>
  <p><%= f.submit "Обновить" %></p>
<% end %>