<h1>Регистрация</h1>

<%= form_for @user, :html => { :class => "form-stacked" } do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :Игровой_ник %>
    <%= f.text_field :email %>
  </p>
  <p>*соблюдаем регистр букв (большие и маленькие)</p>
  <p>
    <%= f.label :Пароль %>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :Подтверждение_пароля %>
    <%= f.password_field :password_confirmation %>
  </p>
  <p>*не стоит указывать пороль игры</p>
  <p>
    <%= f.label :Реальное_имя %>
    <%= f.text_field :name %>
  </p>
  <table>
  	<tr>  		
	  <td>
	  <p>
	    <%= f.label :Город %>
	    <%= f.collection_select :city_id, City.all, :id, :name %>
	  </p>
	  </td>
	  <td>
	  <p>
	    <%= f.label :Тип_персонажа %>
	    <%= f.collection_select :character_id, Character.all, :id, :name %>
	  </p>
	  </td>
	  <td>
	  <p>
	    <%= f.label :Профессия %>
	    <%= f.collection_select :profession_id, Profession.all, :id, :name %>
	  </p>
	  </td>
	  <td>
	  <p>
	    <%= f.label :Призвание %>
	    <%= f.collection_select :mission_id, Mission.all, :id, :name %>
	  </p>
	  </td>
	</tr>

  	<tr>  		
	  <td>
	  <p>
	    <%= f.label :Уровень %>
	    <%= f.number_field :level, :value => 1 %>
	  </p>
	  </td>
	  <td>
	  <p>
	    <%= f.label :Максимально_HP %>
	    <%= f.number_field :maxhealth, :value => 0 %>
	  </p>
	  </td>
	  <td>
	  <p>
	    <%= f.label :Уровень_профессии %>
	    <%= f.number_field :craft, :value => 0 %>
	  </p>
	  </td>
	  <td>
	  <p>
	    <%= f.label :Есть_ли_ружжо_золотое? %>
	    <%= f.check_box :zr %>
	  </p>
	  </td>
	</tr>
  </table>
  <i>далее не обязательно, можно и потом дописать</i>
  <p>
  	<%= f.label :Ссылка_на_фото %>
    <%= f.url_field :avatar %>
  </p>
  <p>
    <%= f.label :Немного_о_себе %>
    <%= f.text_area :about, :size => "20x20" %>
  </p>
  <p><%= f.submit "Зарегиццо", :class => "btn primary" %></p>
<% end %>