<h2><%= @user.character.name %> <%=@user.email%></h2>
<div class="row">


<div class="span5">
<p><b>г. <%=link_to @user.city.name, @user.city%></b></p>
<p>Имя: <b><%= @user.name %></b></p>
<p>Уровень: <b><%= @user.level %></b></p>
<p>Профессия: <b><%= @user.profession.name %> (<%= @user.craft %>)</b></p>
<p>Максимум HP: <b><%= @user.maxhealth %></b></p>

<p>О себе: <b><%= @user.mission.name %>. <br /><%= @user.about %></b></p>
<p><%if current_user %><%if @user.id == current_user.id%><%=link_to "Редактировать информацию о себе", edit_user_path(@user)%><%elsif admin_user%><%=link_to "Админчег? Поредактируем пользователя? :)", edit_user_path(@user)%><%end%><%end%></p>

	<%if @user.funds.where(:taction => 0..99999999).count > 0%>
		<h3>Внесено в фонд: $ <%= @user.funds.where(:taction => 0..99999999).sum(:taction) %></h3>
	<%end%>
	<%if @user.funds.where(:taction => -9999999999..0).count > 0%>
		<h3>Получено из фонда: $ <%= @user.funds.where(:taction => -9999999999..0).sum(:taction).abs %></h3>
	<%end%>
</div>

<div class="span7">
<h3>Награды:</h3>
<% @user.rewards.each do |r|%>
<%= link_to image_tag(r.prize.image, :title => r.prize.title), r %>
<% end %>
<h3>Достижения:</h3>
<p>
	<%if @user.craft && @user.craft > 99 %><%=image_tag @user.profession.image, :title => "#{@user.profession.name} неплохой, навык выше ста!" %><%end%>
	<%if @user.zr == true %><%=image_tag "/assets/gold_set.png", :title => "Обладатель золотого ружья!" %><%end%>
</p>
</div>

<div class="span4">
<%= image_tag @user.avatar, :class => "avatar" if @user.avatar? %>
<div style="text-align: center;"><%= link_to "в полный размер", @user.avatar if @user.avatar? %></div>
</div>


</div>