<h2><%= @user.character.name %> <%=@user.email%></h2>
<div class="span-12 border">
<p><b>г. <%=@user.city.name%></b></p>
<p>Имя: <b><%= @user.name %></b></p>
<p>Уровень: <b><%= @user.level %></b></p>
<p>Профессия: <b><%= @user.profession.name %> (<%= @user.craft %>)</b></p>
<p>Максимум HP: <b><%= @user.maxhealth %></b></p>

<p>О себе: <b><%= @user.mission.name %>. <%= @user.about %></b></p>
<p><%if current_user %><%if @user.id == current_user.id%><%=link_to "Редактировать информацию о себе", edit_user_path(@user)%><%end%><%end%></p>
</div>
<div class="span-12 last">
<h3>Достижения и награды:</h3>
<p>
	<%if @user.craft > 99 %><%=image_tag @user.profession.image, :title => "#{@user.profession.name} неплохой, навык выше ста!" %><%end%>
	<%if @user.zr == true %><%=image_tag "/assets/gold_set.png", :title => "Обладатель золотого ружья!" %><%end%>
</p>
</div>