<% if Info.where(:location => 1).first %>
<div class="alert-message block-message warning">
	<a class="close" href="#">&times;</a>
<%= raw(Info.where(:location => 1).first.text) %>
</div>
<%end%>
<div class="row">
<div class="span-one-third">

<h3>Последние 14 из <%=@users.count%> человек</h3>
		<%@lastusers.each do |u|%>
			<%=image_tag u.character.image, :title => u.character.name %> <%= link_to u.email, u%> (<%=u.level%>) из г. <%= link_to u.city.name, u.city%><br />
		<%end%>
<br />
<div style="text-align: right;"><b><%= link_to "Посмотреть всех >>", users_path%></b></div>
<div style="text-align: right;"><b><%= link_to "Альянс в лицах >>", gallery_path%></b></div>
<%= link_to "Админ информер", infos_path if admin_user %>
<%= link_to "Зарегить кого то", sign_up_path if admin_user %>
</div>
<div class="span-one-third">

	
		
		
	<div style="text-align: center;"><h3>Наши фонды</h3><h2>«Перекач»: $ <%=link_to Fund.sum(:taction), funds_path%></h2></div>
	<div style="text-align: center;">собрано: <strong>$ <%=Fund.where(:taction => 0..99999999).sum(:taction)%></strong> | роздано:<strong>$ <%=Fund.where(:taction => -9999999999..0).sum(:taction).abs%></strong></div>
<br />
	<div style="text-align: center;"><h2><%=link_to "Конкурс на логотип", tenders_path%></h2>
	<%= link_to 'Добавить свою работу!', new_tender_path, :class => "btn success" if current_user %></div>
<br />

	<div style="text-align: center;"><h3>Последние награждения</h3></div>
	<%@lastrewards.each do |r|%>
		<%=r.created_at.strftime('%d.%m.%Y ')%> Награда <%=link_to r.prize.title, r.prize, :title => r.prize.description%> вручена <%= image_tag r.user.character.image, :title => r.user.character.name %> <%=link_to r.user.email, r.user%>.<br />
		
	<%end%>
	
	<div style="text-align: right;"><b><%= link_to "Все награды >>", prizes_path%></b></div>

</div>
<div class="span-one-third">
	<h3>Стенка</h3>
	<%@walls.each do |w|%>
		<%= link_to w.user.email, w.user, :rel => 'twipsy', :title => time_ago_in_words(w.created_at)+" назад" %> <%= w.post %> <br />
	<%end%>
	<%if current_user%>
		<%= form_for(@newwall) do |f| %>
		  <div class="field">
		    <%= f.text_field :post %>
		    <%= f.submit "Тыц", :class => "btn" %>
		  </div>
		<% end %>
	<% end %>
	<div style="text-align: right;"><b><%= link_to "Всё >>", walls_path%></b></div>
</div>
</div>
