<h2>Города альянса</h2>

<div class="row">
<% @cities.each do |city| %>
<div class="span4">
	<% if current_user && admin_user %>
		<%= link_to city.name, city %> (<%=city.users.count%>)
	<%else%>
		<%if city.users.count > 0%>
			<%= link_to city.name, city %> (<%=city.users.count%>)
		<%end%>
	<% end %>

    <% if current_user && admin_user %>
    <%= link_to 'e', edit_city_path(city) %>
    <%= link_to 'x', city, confirm: 'Are you sure?', method: :delete %>
    <% end %>
    
</div>
<% end %>

</div>

<% if current_user && admin_user %>
<%= link_to 'New City', new_city_path %>
<% end %>