<p id="notice"><%= notice %></p>
  
  <h2>г. <%= @city.name %></h2>

<table>
<%@users.each do |u|%>
<tr>
<td><%=image_tag u.character.image%> <%=link_to u.email, u%> (<%=u.level%>)</td>
</tr>
<%end%>
</table>