<h2>Награды альянса</h2>

<% @prizes.each do |prize| %>
	<div class="span-4">
		<div style="text-align: center;">
			<b><%= link_to prize.title, prize %></b><br />
	<%= link_to image_tag(prize.image, :title => prize.description), prize %>
   
    <% if current_user && admin_user %>
    <br />
   <%= link_to 'Edit', edit_prize_path(prize) %>
   <%= link_to 'Destroy', prize, confirm: 'Точно? Удалятся и все выданные награды :(', method: :delete %>
    <% end %>
	 </div>
 </div>
<% end %>


<br />
<% if current_user && admin_user %>
<%= link_to 'New Prize', new_prize_path %>
<% end %>