<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @prize.title %>
</p>

<p>
  <b>Description:</b>
  <%= @prize.description %>
</p>

<p>
  <b>Image:</b>
  <%= @prize.image %>
</p>


<%= link_to 'Edit', edit_prize_path(@prize) %> |
<%= link_to 'Back', prizes_path %>
