<h2>Награда «<%= @prize.title %>»</h2>

<div class="span-4 border">
	<div style="text-align: center;"><%= image_tag(@prize.image) %></div>
	<% if current_user && admin_user %>
<%= link_to 'Edit', edit_prize_path(@prize) %> |
<%= link_to 'Back', prizes_path %>
<% end %>
</div>
<div class="span-20 last">

<p>
  <b><%= @prize.description %></b> награждаются:<br />
  <% @prize.rewards.each do |r| %>
  	<%= image_tag r.user.character.image %> <%= link_to r.user.email, r.user %> (<%= r.user.level %>) <i><%= r.text %> (<%= r.created_at.strftime('%d.%m.%Y') %>)</i><br />
  <%end%>
</p>
	<% if current_user && admin_user %>
<%= link_to 'Edit', edit_prize_path(@prize) %> |
<%= link_to 'Back', prizes_path %>
<% end %>
<div style="text-align: center;"><b><%= link_to "Все награды >>", prizes_path%></b></div>
</div>