<h1>Фонд «Перекач»</h1>
<%if current_user%>
<% if Info.where(:location => 3).first %>
<div class="alert-message block-message success">
	<a class="close" href="#">&times;</a>
<%= raw(Info.where(:location => 3).first.text) %>
</div>
<%end%>
<% if current_user && admin_user %>
<%= link_to 'New Fund', new_fund_path %>
<% end %>

В наличии $ <strong><%= Fund.sum(:taction) %></strong>, в т.ч. собрано: <strong>$ <%=Fund.where(:taction => 0..99999999).sum(:taction)%></strong> и роздано: <strong>$ <%=Fund.where(:taction => -9999999999..0).sum(:taction).abs%></strong>. Кроме того имеется <strong><%= Fund.sum(:gold) %> золота</strong>.

<table class="condensed-table">
  <tr>
  	<th>Кто</th>
  	<th>Когда</th>
    <th>Сколько</th>
    <th>Комментарий</th>
    <% if current_user && admin_user %>
    <th></th>
    <th></th>
    <% end %>
  </tr>

<% @funds.each do |fund| %>
  <tr>
    <td><%= link_to User.find(fund.user_id).email, User.find(fund.user_id) %></td>
    <td><%= fund.created_at.strftime('%d.%m.%Y ') %></td>
    <td>
    	<% if fund.taction.to_i != 0 %>
    		<div style="<%if fund.taction < 0%>color: red;<%else%>color: green;<%end%>">$ <%= fund.taction %></div>
    	<% end %> 
    	<%if fund.gold.to_i != 0 %>
    		<div style="color: orange;"><%= fund.gold %> G.</div>
    	<% end %>
    	</td>
    <td><%= fund.comment %></td>
    <% if current_user && admin_user %>
    <td><%= link_to 'Edit', edit_fund_path(fund) %></td>
    <td><%= link_to 'Destroy', fund, confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% if admin_user %>
<%= link_to 'New Fund', new_fund_path %>
<% end %>
<%else%>
<%= render "layouts/auth"%>
<%end%>
