<p id="notice"><%= notice %></p>

<p>
  <b>Transaction:</b>
  <%= @fund.taction %>
</p>

<p>
  <b>User:</b>
  <%= @fund.user_id %>
</p>

<p>
  <b>Comment:</b>
  <%= @fund.comment %>
</p>


<%= link_to 'Edit', edit_fund_path(@fund) %> |
<%= link_to 'Back', funds_path %>
