<h1>Listing exercises</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Discription</th>
    <th>Rightvideo</th>
    <th>Righttext</th>
    <th>Wrongvideo</th>
    <th>Wrongtext</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @exercises.each do |exercise| %>
  <tr>
    <td><%= exercise.title %></td>
    <td><%= exercise.discription %></td>
    <td><%= exercise.rightvideo %></td>
    <td><%= exercise.righttext %></td>
    <td><%= exercise.wrongvideo %></td>
    <td><%= exercise.wrongtext %></td>
    <td><%= link_to 'Show', exercise %></td>
    <td><%= link_to 'Edit', edit_exercise_path(exercise) %></td>
    <td><%= link_to 'Destroy', exercise, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Exercise', new_exercise_path %>
