<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @exercise.title %>
</p>

<p>
  <b>Discription:</b>
  <%= @exercise.discription %>
</p>

<p>
  <b>Rightvideo:</b>
  <%= @exercise.rightvideo %>
</p>

<p>
  <b>Righttext:</b>
  <%= @exercise.righttext %>
</p>

<p>
  <b>Wrongvideo:</b>
  <%= @exercise.wrongvideo %>
</p>

<p>
  <b>Wrongtext:</b>
  <%= @exercise.wrongtext %>
</p>


<%= link_to 'Edit', edit_exercise_path(@exercise) %> |
<%= link_to 'Back', exercises_path %>
