<p id="notice"><%= notice %></p>

<p>
  <b>Text:</b>
  <%= @info.text %>
</p>

<p>
  <b>Location:</b>
  <%= @info.location %>
</p>


<%= link_to 'Edit', edit_info_path(@info) %> |
<%= link_to 'Back', infos_path %>
